.form-group{
    padding-right: 1em;   
}

.form-group input{
  max-width: 150px;  
}


input.active:valid {
  box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
  box-shadow: 0 0 5px 1px red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}